---
import Code from './Code.astro';

const details = [
    {
        title: "よくある質問と答え（FAQ）のようなコンテンツでよくみるアコーディオン UI のサンプル。",
        contents: "<p>質問に対してここに答えを入れるイメージ。リストされている質問の数がとても多い場合などには、答え部分を閉じておくことで、質問を一覧できていいかもしれないけど、項目が少ないならあんまり閉じておく意味はないかもね。</p>",
    },
    {
        title: "今一番欲しいものは何ですか？",
        contents: "<p>税引き後金額で5000兆円欲しいけど、妥協して10億円でもいい。</p>",
    },
    {
        title: "好きな食べ物は何ですか？",
        contents: "<p>グミが好きです。でもゼリーの方がもっと好きです。</p>",
    },
    {
        title: "1つの項目を開いても、他の項目は閉じないようにしたいんだけど。",
        contents: "<p>details 要素に付いている name 属性を削除しましょう。<a href='#sample-01'>サンプル 01</a> をみてね。</p>",
    },
]

const html = `<div class="details-sample-02">
    <h2 class="details-sample-header">サンプル 02</h2>
    <div class="details-wrap">
        <!--↓ここからがひとつのブロック↓-->
        <details name="sample-02">
            <summary>
                <span class="summary-text">よくある質問と答え（FAQ）のようなコンテンツでよくみるアコーディオン UI のサンプル</span>
                <span class="summary-icon" aria-hidden="true">
                    <svg class="open-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                    </svg>
                    <svg class="close-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                    </svg>
                </span>
            </summary>
            <div class="details-text">
                <p>質問に対してここに答えを入れるイメージ。リストされている質問の数がとても多い場合などには、答え部分を閉じておくことで、質問を一覧できていいかもしれないけど、項目が少ないならあんまり閉じておく意味はないかもね。</p>
            </div>
        </details>
        <!--↑ここまでがひとつのブロック↑-->
    </div>
</div>`

const css = `/*---
下記 CSS はあくまでサンプルです。
他のCSSやブラウザの標準スタイルとの関係で調整が必要かもしれません
---*/

.details-sample-02 {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
}

.details-sample-02 > :not([hidden]) ~ :not([hidden]) {
	border-top-width: 1px;
    border-top-style: solid;
	border-color: rgb(17 24 39 / 0.1);
}

.details-sample-02 .details-sample-header {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(17 24 39 / 1);
}

.details-sample-02 .details-wrap > :not([hidden]) ~ :not([hidden]) {
	border-top-width: 1px;
    border-top-style: solid;
	border-color: rgb(17 24 39 / 0.1);
}

.details-sample-02 .details-wrap {
    margin-top: 2.5rem;
}

.details-sample-02 details {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.details-sample-02 details summary {
    box-sizing: border-box;
    color: rgb(17 24 39 / 1);
	display: flex;
	width: 100%;
	list-style-type: none;
	align-items: flex-start;
	justify-content: space-between;
}

.details-sample-02 details .summary-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.details-sample-02 details summary > :not([hidden]) ~ :not([hidden]) {
    margin-left: 1.5rem;
}

.details-sample-02 details .summary-icon {
	display: flex;
	height: 1.5rem;
	flex-shrink: 0;
	align-items: center;
	color: rgb(75 85 99 / 1);
}

.details-sample-02 details .summary-icon .open-icon {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.details-sample-02 details .summary-icon .close-icon {
    display: none;
    height: 1.5rem;
    width: 1.5rem;
}

.details-sample-01 details[open] .summary-icon .open-icon {
    display: none;
}

.details-sample-01 details[open] .summary-icon .close-icon {
    display: block;
}

.details-sample-02 details .details-text {
    padding-right: 3rem;
    color: rgb(55 65 81 / 1);
	margin-top: 1.5rem;
}

.details-sample-02 details .details-text p {
	margin: 0;
}`
---

<div class="bg-white px-4 py-24" id="sample-02">
    <div class="mx-auto max-w-7xl">
        <div class="details-sample-02">
            <h2 class="details-sample-header">サンプル 02 （排他的動作）</h2>
            <div class="details-wrap">
                {details.map((details) => (
                    <details name="sample-02">
                        <summary class="">
                            <span class="summary-text">
                                {details.title}    
                            </span>
                            <span class="summary-icon" aria-hidden="true">
                                <svg class="open-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                                </svg>
                                <svg class="close-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                                </svg>
                            </span>
                        </summary>
                        <div class="details-text" set:html={details.contents} />
                    </details>
                ))}
            </div>
        </div>
    </div>
</div>
<Code html={html} css={css} />
<style>
    .details-sample-02 {
        @apply mx-auto max-w-5xl divide-y divide-gray-900/10;

        .details-sample-header {
            @apply text-2xl font-bold text-gray-900;
        }

        .details-wrap {
            @apply mt-10 divide-y divide-gray-900/10;
        }

        details {
            @apply py-6;

            summary {
                @apply flex w-full items-start justify-between text-gray-900 space-x-6 list-none;

                &:hover {
                    @apply cursor-pointer;
                }

                &::-webkit-details-marker {
                    display: none;
                }
            }

            .summary-text {
                @apply text-base font-semibold w-full;
            }

            .summary-icon {
                @apply flex shrink-0 h-6 items-center text-gray-600;

                .open-icon {
                    @apply block h-6 w-6;
                }

                .close-icon {
                    @apply hidden h-6 w-6;
                }
            }

            &[open] {
                .summary-icon {
                    .open-icon {
                        @apply hidden;
                    }

                    .close-icon {
                        @apply block;
                    }
                }
            }

            .details-text {
                @apply mt-6 pr-12 text-gray-700 space-y-4;
            }
        }
    }
</style>