---
import '@fontsource-variable/noto-sans-jp';
import '@fontsource-variable/source-code-pro';

interface Props {
	title: string;
	description: string;
}

const { title , description } = Astro.props;
---

<!doctype html>
<html lang="ja" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="./favicon.ico" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-dark.min.css" rel="stylesheet" />
	</head>
	<body class="font-body flex flex-col min-h-dvh text-gray-900">
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/css.min.js"></script>
		<script is:inline>hljs.highlightAll();</script>  	
	</body>
</html>
<style is:global>
	a {
		@apply text-gray-800 underline;
	}
	pre {
		@apply font-code;
	}
</style>